/* ------------------------------- footer ---------------------------- */

body {
    background-color: rgb(2, 15, 22);
}

/* ------------------------------- header ---------------------------- */

.intro {
    height: 480px;
    width: 100%;
    overflow: hidden;
}

.intro-content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    min-height: 100%;
    min-width: 100%;
    width: auto;
}

.filter {
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: #24212391;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
    z-index:10;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}


.bg-menu {
    background-color: #0000004f !important;
    padding: 0 1rem;
}

.menu-principal .active{
    background: linear-gradient(to bottom, rgba(169,3,41,1) 0%, rgba(212,22,22,1) 100%);
    color: rgb(255, 255, 255);
}

.menu-principal ul {
    height:60px;
}

.menu-principal a {
    display: block;
    height: 100%;
}

.btn-redy {
   border:none;
   background: linear-gradient(to bottom, rgba(169,3,41,1) 0%, rgba(212,22,22,1) 100%)!important;
}

.btn-redy a:hover {
    background: rgba(212,22,22,1);
}

.deuxieme-section {
    background: linear-gradient(to bottom, rgba(36, 36, 36, 0.3) 0%, rgba(2,15,22,1) 100%);
    width: 100;
}

/* ------------------------------- main ---------------------------- */



.encart-titre h2{
    border-left:4px solid rgba(169,3,41,1);
    padding-left:10px;
}

.btn-tous {
    color: #777;
    border-right:2px solid rgba(169,3,41,1)!important;
}

a:hover .btn-tous {
    color : #fff;
    background-color:transparent;
    border-right:2px solid rgba(169,3,41,1)!important;
}

.routier {

}

.filtre-sombre{
    background-color: rgba(169,3,41,1);
    overflow: hidden;
}

.filtre-sombre img{
    opacity: 1; 
    transform: scale(1);
    transition: all 0.3s linear;
}

.filtre-sombre:hover img{
    opacity: 0.3; 
    transform: scale(1.2);
}

.icone-play {
    top:50%;
    left:50%;
    font-size: 3rem;
    transform: translate(-50%,-50%);
    opacity:0;
    transition: all 0.3s linear;
}

.filtre-sombre:hover .icone-play {
    opacity: 1; 
}


/* ------------------------------- footer ---------------------------- */

.footer-content {
    position: relative;
    margin-bottom: 0 !important;
}